<div class="container">
  <div class="jumbotron text-center mt-4 bg-light p-4 rounded">
    <h1 class="display-4" style="color: #007bff; font-weight: bold; font-size: 2rem; margin-bottom: 1rem;">Bem-vindo ao RRWeb!</h1>
    <p class="lead" style="font-size: 1.5rem; font-weight: bold;">Oferecemos os melhores serviços de criação de sites, sistemas web e hospedagem.</p>
  </div>

  <!-- Portfólio de Serviços -->
  <div class="row text-center mt-5">
    <!-- Card de Sites Institucionais -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover shadow h-100">
        <div class="card-body">
          <i class="fas fa-globe fa-3x mb-3 text-primary"></i>
          <h5 class="card-title">Sites Institucionais</h5>
          <p class="card-text">Criamos sites institucionais modernos e funcionais.</p>
        </div>
      </div>
    </div>
    <!-- Card de Portfólios -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover shadow h-100">
        <div class="card-body">
          <i class="fas fa-briefcase fa-3x mb-3 text-primary"></i>
          <h5 class="card-title">Portfólios</h5>
          <p class="card-text">Mostre seu trabalho com um portfólio impressionante.</p>
        </div>
      </div>
    </div>
    <!-- Card de Landing Pages -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover shadow h-100">
        <div class="card-body">
          <i class="fas fa-bullseye fa-3x mb-3 text-primary"></i>
          <h5 class="card-title">Landing Pages</h5>
          <p class="card-text">Landing pages otimizadas para conversão.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center mt-5">
    <!-- Card de Desenvolvimento de Sistemas -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover shadow h-100">
        <div class="card-body">
          <i class="fas fa-code fa-3x mb-3 text-primary"></i>
          <h5 class="card-title">Desenvolvimento de Sistemas Web</h5>
          <p class="card-text">Soluções web personalizadas para atender às suas necessidades específicas..</p>
        </div>
      </div>
    </div>
    <!-- Card de Hospedagem -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover shadow h-100">
        <div class="card-body">
          <i class="fas fa-server fa-3x mb-3 text-primary"></i>
          <h5 class="card-title">Hospedagem</h5>
          <p class="card-text">Serviços de hospedagem confiáveis para garantir que seu site esteja sempre online.</p>
        </div>
      </div>
    </div>
    <!-- Card de Blogs e Portais -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover shadow h-100">
        <div class="card-body">
          <i class="fas fa-pencil-alt fa-3x mb-3 text-primary"></i>
          <h5 class="card-title">Blogs e Portais</h5>
          <p class="card-text">Criação de blogs e portais completos e otimizados para o seu público.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Seção de Portfólio -->
  <div class="text-center mt-5">
    <h2 class="display-4" style="color: #007bff; font-weight: bold;">Nossos Trabalhos</h2>
    <p class="lead">Confira alguns dos projetos que realizamos.</p>
  </div>

  <!-- Cards de Portfólio -->
  <div class="row text-center mt-4">

    <!-- Card de Projeto 1 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-hover shadow h-100">
        <img class="card-img-top" src="../../../assets/esportemedicina.png" alt="Projeto1">
        <div class="card-body">
          <h5 class="card-title">EsporteMedicina</h5>
          <p class="card-text">“Este site é uma plataforma dedicada ao Dr. Selenio, um renomado médico do esporte e nutrólogo. Ele oferece uma variedade de recursos e informações relacionadas à medicina do exercício e nutrologia.”</p>
          <a href="https://esporte-medicina.netlify.app/" target="_blank" class="btn btn-primary">Link do Projeto</a>
        </div>
      </div>
    </div>
    <!-- Card de Projeto 2 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-hover shadow h-100">
        <!-- Adiciona a classe 'custom-img' à tag img -->
        <img class="card-img-top" src="../../../assets/logocar.png" alt="SysCarWeb" width="100" height="170">>
        <div class="card-body">
          <h5 class="card-title">SysCarWeb</h5>
          <p class="card-text"> "É um sistema de controle e manutenção veicular desenvolvido por, Rodrigo Ferreira, desenvolvedor de sites e sistemas web. Ele oferece funcionalidades para gerenciar e monitorar veículos, proporcionando uma solução eficiente para manutenção e controle veicular. Ainda em desenvolvimento"</p>
          <a href="http://rodrigorferreira.pythonanywhere.com/" target="_blank" class="btn btn-primary">Link do Projeto</a>
        </div>
      </div>
    </div>


    <!-- ... outros cards de projetos ... -->
  </div>
</div>

<!-- Adicione isso no final do seu arquivo home.component.html -->
<a href="https://wa.me/5521997767019" class="whatsapp-float" target="_blank">
  <i class="fab fa-whatsapp"></i>
</a>
