<div class="container">

  <div class="jumbotron text-center mt-4 bg-light p-4 rounded">

    <h1 class="display-4" style="color: #007bff; font-weight: bold; font-size: 2rem; margin-bottom: 1rem;">Bem-vindo a RR Creative Web!</h1>

    <p class="lead" style="font-size: 1.5rem; font-weight: bold;">Oferecemos os melhores serviços de criação de sites, sistemas web e hospedagem de sites.</p>

  </div>

  <div class="row">
    <!-- Banner 1 - Crie um Site para Seu Negócio -->
    <div class="col-md-6 mb-4">
      <div class="banner">
        <h1>Crie um Site para Seu Negócio</h1>
        <p>Nos dias de hoje, ter um site é essencial para qualquer negócio que deseja prosperar e alcançar um público mais amplo.</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCriarSite">Saiba Mais</button>
      </div>
    </div>

    <!-- Banner 2 - Hospedagem de Sites -->
    <div class="col-md-6 mb-4">
      <div class="banner">
        <h1>Hospedagem de Sites ideal para seu projeto sair do papel</h1>
        <p>Garanta o sucesso do seu negócio com uma presença digital.</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalHospedagem">Saiba Mais</button>
      </div>
    </div>
  </div>




  <!-- Modal Hospedagem de sites -->
<div class="modal fade" id="modalHospedagem" tabindex="-1" aria-labelledby="modalHospedagemLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold text-center text-uppercase" id="modalHospedagemLabel">Hospedagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

        <h1>Hospedagem de Sites: Transforme Seu Projeto em Realidade e Alcance o Sucesso Digital</h1>
  <p>Nos dias atuais, ter uma presença digital forte é essencial para o sucesso de qualquer negócio. Seja você um empreendedor iniciante ou uma empresa estabelecida, a hospedagem de sites desempenha um papel crucial para garantir que seu projeto saia do papel e se torne uma realidade lucrativa.</p>

  <h2>Por que a Hospedagem de Sites é Fundamental?</h2>

  <h3>1. Acesso Global e Disponibilidade 24/7:</h3>
  <p>Com a hospedagem adequada, seu site estará acessível a clientes potenciais em todo o mundo, 24 horas por dia, 7 dias por semana. Isso significa que seus serviços e produtos estarão disponíveis sempre que seus clientes precisarem, independentemente do fuso horário ou localização.</p>

  <h3>2. Desempenho e Velocidade:</h3>
  <p>Uma hospedagem de qualidade garante um site rápido e responsivo. Isso não apenas melhora a experiência do usuário, mas também é crucial para o SEO (Search Engine Optimization), ajudando seu site a alcançar melhores posições nos resultados de busca.</p>

  <h3>3. Segurança e Confiabilidade:</h3>
  <p>A segurança dos dados dos clientes e a confiabilidade do serviço são prioridades essenciais. Com as soluções adequadas de hospedagem, você pode garantir que seu site esteja protegido contra ameaças cibernéticas e que permaneça operacional mesmo durante picos de tráfego.</p>

  <h2>Transforme Sua Visão em Realidade</h2>
  <p>Imagine poder compartilhar sua visão de negócio com o mundo instantaneamente. Com a hospedagem de sites adequada, você pode transformar suas ideias em um site funcional e atrativo que não apenas informa, mas também converte visitantes em clientes fiéis.</p>

  <h2>Escolhendo a Melhor Hospedagem para seu Projeto</h2>
  <p>Ao escolher um provedor de hospedagem, considere alguns pontos essenciais:</p>

  <ul>
    <li><strong>Tipo de Hospedagem:</strong> Compartilhada, VPS, dedicada - escolha de acordo com suas necessidades de tráfego e recursos.</li>
    <li><strong>Suporte Técnico:</strong> Garanta que o provedor ofereça suporte técnico confiável e ágil para resolver quaisquer problemas rapidamente.</li>
    <li><strong>Escalabilidade:</strong> Seu provedor deve ser capaz de crescer com seu negócio, permitindo escalabilidade conforme necessário.</li>
  </ul>

  <h2>Conclusão</h2>
  <p>Investir em uma hospedagem de sites de qualidade não é apenas uma necessidade, mas um passo estratégico para o crescimento e sucesso do seu negócio online. Garanta que seu projeto saia do papel e alcance novos patamares com uma presença digital robusta e confiável.</p>
  <p>Seja qual for o seu setor ou tamanho de empresa, uma presença online bem estabelecida pode fazer a diferença entre o sucesso e o anonimato digital. Escolha sabiamente e prepare-se para colher os frutos de uma presença digital forte e eficaz.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Criar Site -->
<div class="modal fade" id="modalCriarSite" tabindex="-1" aria-labelledby="modalCriarSiteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold text-center text-uppercase" id="modalCriarSiteLabel">Crie um Site para Seu Negócio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Crie um Site para Seu Negócio</h1>
        <p>Nos dias de hoje, ter um site é essencial para qualquer negócio que deseja prosperar e alcançar um público mais amplo. Um site bem projetado não só fortalece a presença digital da sua marca, mas também oferece inúmeras vantagens competitivas. Vamos explorar os principais motivos pelos quais criar um site é crucial para o sucesso do seu negócio.</p>

        <h2>Visibilidade e Acessibilidade</h2>
        <p>Um site permite que seu negócio seja encontrado por clientes potenciais a qualquer hora do dia, em qualquer lugar do mundo. Isso significa que, mesmo fora do horário comercial, seu site está lá, pronto para fornecer informações, captar leads e realizar vendas.</p>

        <h2>Credibilidade e Profissionalismo</h2>
        <p>Um site bem construído transmite profissionalismo e confiança. Ele serve como uma vitrine digital para o seu negócio, onde você pode exibir produtos, serviços, depoimentos de clientes e qualquer outra informação relevante que ajude a construir a credibilidade da sua marca.</p>

        <h2>Marketing Digital</h2>
        <p>Com um site, você tem uma plataforma central para todas as suas estratégias de marketing digital. Você pode utilizar técnicas de SEO (Search Engine Optimization) para melhorar o ranking do seu site nos motores de busca, integrar campanhas de marketing por e-mail, promover conteúdos em blogs e muito mais.</p>

        <h2>Interatividade e Engajamento</h2>
        <p>Um site oferece diversas maneiras de interagir com seus clientes. Através de formulários de contato, chats ao vivo, comentários em blogs e integrações com redes sociais, você pode engajar seu público de maneira mais eficiente e personalizada.</p>

        <h2>Análise e Melhorias</h2>
        <p>Ferramentas de análise de sites, como Google Analytics, permitem que você acompanhe o comportamento dos visitantes do seu site. Isso fornece dados valiosos sobre o que está funcionando e o que pode ser melhorado, permitindo ajustes contínuos para otimizar a experiência do usuário e aumentar as conversões.</p>

        <h2>Facilidade de Atualização</h2>
        <p>Um site pode ser atualizado com facilidade para refletir mudanças em seus produtos, serviços, horários de funcionamento, e quaisquer outras informações relevantes. Isso mantém seus clientes sempre informados e pode ajudar a atrair novos negócios.</p>

        <h2>Comece Hoje Mesmo</h2>
        <p>Não importa o tamanho do seu negócio ou o setor em que você atua, ter um site é uma necessidade no mundo moderno. Ele não só amplia suas oportunidades de negócios, mas também fortalece a relação com seus clientes e aumenta a visibilidade da sua marca. Seja você um empreendedor, um pequeno empresário ou o responsável por uma grande empresa, investir na criação de um site é um passo fundamental para o sucesso. Transforme seu negócio e alcance novos patamares com uma presença digital robusta e eficaz.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
  </div>



  <!-- Portfólio de Serviços -->
  <div class="row text-center mt-5">
    <!-- Card de Sites Institucionais -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover shadow h-100">
        <div class="card-body">
          <i class="fas fa-globe fa-3x mb-3 text-primary"></i>
          <h5 class="card-title">Sites Institucionais</h5>
          <p class="card-text">Criamos sites institucionais modernos e funcionais.</p>
        </div>
      </div>
    </div>
    <!-- Card de Portfólios -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover shadow h-100">
        <div class="card-body">
          <i class="fas fa-briefcase fa-3x mb-3 text-primary"></i>
          <h5 class="card-title">Portfólios</h5>
          <p class="card-text">Mostre seu trabalho com um portfólio impressionante.</p>
        </div>
      </div>
    </div>
    <!-- Card de Landing Pages -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover shadow h-100">
        <div class="card-body">
          <i class="fas fa-bullseye fa-3x mb-3 text-primary"></i>
          <h5 class="card-title">Landing Pages</h5>
          <p class="card-text">Landing pages otimizadas para conversão.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center mt-5">
    <!-- Card de Desenvolvimento de Sistemas -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover shadow h-100">
        <div class="card-body">
          <i class="fas fa-code fa-3x mb-3 text-primary"></i>
          <h5 class="card-title">Desenvolvimento de Sistemas Web</h5>
          <p class="card-text">Soluções web personalizadas para atender às suas necessidades específicas..</p>
        </div>
      </div>
    </div>
    <!-- Card de Hospedagem -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover shadow h-100">
        <div class="card-body">
          <i class="fas fa-server fa-3x mb-3 text-primary"></i>
          <h5 class="card-title">Hospedagem</h5>
          <p class="card-text">Serviços de hospedagem confiáveis para garantir que seu site esteja sempre online.</p>
        </div>
      </div>
    </div>
    <!-- Card de Blogs e Portais -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover shadow h-100">
        <div class="card-body">
          <i class="fas fa-pencil-alt fa-3x mb-3 text-primary"></i>
          <h5 class="card-title">Blogs e Portais</h5>
          <p class="card-text">Criação de blogs e portais completos e otimizados para o seu público.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Seção de Portfólio -->
  <div class="text-center mt-5">
    <h2 class="display-4" style="color: #007bff; font-weight: bold;">Nossos Trabalhos</h2>
    <p class="lead">Confira alguns dos nossos projetos.</p>
  </div>

  <!-- Cards de Portfólio -->
  <div class="row text-center mt-4">

    <!-- Card de Projeto 1 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-hover shadow h-100">
        <img class="card-img-top" src="../../../assets/esportemedicina.png" alt="Projeto1">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-primary">EsporteMedicina</h5>
          <p class="card-text">“Este site é uma plataforma dedicada ao Dr. Selenio, um renomado médico do esporte e nutrólogo. Ele oferece uma variedade de recursos e informações relacionadas à medicina do exercício e nutrologia.”</p>
          <a href="https://esporte-medicina.netlify.app/" target="_blank" class="btn btn-primary">Link do Projeto</a>
        </div>
      </div>
    </div>
    <!-- Card de Projeto 2 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-hover shadow h-100">
        <!-- Adiciona a classe 'custom-img' à tag img -->
        <img class="card-img-top" src="../../../assets/logocar.png" alt="SysCarWeb" width="100" height="170">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-primary">SysCarWeb</h5>
          <p class="card-text"> "É um sistema de controle e manutenção veicular desenvolvido por, Rodrigo Ferreira, desenvolvedor de sites e sistemas web. Ele oferece funcionalidades para gerenciar e monitorar veículos, proporcionando uma solução eficiente para manutenção e controle veicular. Ainda em desenvolvimento"</p>
          <a href="http://rodrigorferreira.pythonanywhere.com/" target="_blank" class="btn btn-primary">Link do Projeto</a>
        </div>
      </div>
    </div>


    <!-- ... outros cards de projetos ... -->
  </div>
</div>

<!-- Adicione isso no final do seu arquivo home.component.html -->
<a href="https://wa.me/5521997767019" class="whatsapp-float" target="_blank">
  <i class="fab fa-whatsapp"></i>
</a>
