<div class="container">
  <!-- Seção de Portfólio -->
  <div class="text-center mt-5">
    <h2 class="display-4" style="color: #007bff; font-weight: bold;">Nossos Trabalhos</h2>
    <p class="lead">Confira alguns dos nossos projetos.</p>
  </div>

  <!-- Cards de Portfólio -->
  <div class="row text-center mt-4">

    <!-- Card de Projeto 1 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-hover shadow h-100">
        <img class="card-img-top" src="../../../assets/esportemedicina.jpg" alt="Projeto1">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-primary">EsporteMedicina</h5>
          <!-- <p class="card-text">“Este site é uma plataforma dedicada ao Dr. Selenio, um renomado médico do esporte e nutrólogo. Ele oferece uma variedade de recursos e informações relacionadas à medicina do exercício e nutrologia.”</p> -->
           <div class="card-body">
            <a href="https://esportemedicina.com/" target="_blank" class="btn btn-primary">Link do Projeto</a>
           </div>
        </div>
      </div>
    </div>
    <!-- Card de Projeto 2 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-hover shadow h-100">
        <!-- Adiciona a classe 'custom-img' à tag img -->
        <img class="card-img-top" src="../../../assets/nutri-logo.jpg" alt="Nutriknofel" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-primary">Nutriknofel</h5>
          <!-- <p class="card-text"> "Site destinado a nutricionista Thassiana Knofel, com informações de saúde e informações nutricionais para atender suas necessidades nutricionais. Ainda em desenvolvimento". Terá um blog com informações nutricionais, dietas e dica". </p> -->
          <div class="card-body">
            <a href="https://nutriknofel.netlify.app/" target="_blank" class="btn btn-primary">Link do Projeto</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Card de Projeto 3 -->
    <!-- <div class="col-lg-4 col-md-6 mb-4"> -->
      <!-- <div class="card card-hover shadow h-100"> -->
        <!-- Adiciona a classe 'custom-img' à tag img -->
        <!-- <img class="card-img-top" src="../../../assets/logocar.jpg" alt="SysCarWeb" width="100" height="170"> -->
        <!-- <div class="card-body"> -->
          <!-- <h5 class="card-title font-weight-bold text-primary">SysCarWeb</h5> -->
          <!-- <p class="card-text"> "É um sistema de controle e manutenção veicular desenvolvido por, Rodrigo Rodrigues Ferreira, ele oferece funcionalidades para gerenciar as manutenções de seu veículo. Ainda em desenvolvimento". </p> -->
          <!-- <div class="card-body"> -->
            <!-- <a href="https://rodrigorferreira.pythonanywhere.com/" target="_blank" class="btn btn-primary">Link do Projeto</a> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->

    <!-- Card de Projeto 4 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-hover shadow h-100">
        <!-- Adiciona a classe 'custom-img' à tag img -->
        <img class="card-img-top" src="../../../assets/logoodonto.jpg" alt="Odonto" width="100" height="170">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-primary">Odonto</h5>
          <!-- <p class="card-text"> "Previna problemas bucais e tenha um sorriso radiante por toda a vida. Nosso consultório oferece um atendimento completo, desde a limpeza regular até tratamentos mais complexos. Agende sua consulta e descubra como cuidar do seu sorriso." </p> -->
          <div class="card-body">
            <a href="https://demo-odonto.netlify.app/" target="_blank" class="btn btn-primary">Link do Projeto</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Card de Projeto 5 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-hover shadow h-100">
        <!-- Adiciona a classe 'custom-img' à tag img -->
        <img class="card-img-top" src="../../../assets/estetica.png" alt="Estética" width="100" height="170">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-primary">Estética</h5>
          <!-- <p class="card-text"> "Descubra os melhores tratamentos estéticos em nossa clínica. Oferecemos uma ampla gama de serviços para cuidar da sua beleza e bem-estar, como tratamentos faciais, corporais, rejuvenescimento e muito mais. Agende uma consulta e eleve sua autoestima com resultados surpreendentes." </p> -->
      <div class="card-body">
          <div class="card-body">
            <a href="https://clinicaestetica.netlify.app/" target="_blank" class="btn btn-primary">Link do Projeto</a>
          </div>
        </div>
      </div>
    </div>


    <!-- ... outros cards de projetos ... -->
  </div>
</div>


<!-- Adicione isso no final do seu arquivo home.component.html -->
<a href="https://wa.me/5532998473251" class="whatsapp-float" target="_blank">
  <i class="fab fa-whatsapp"></i>
</a>
